@mixin flexCenterX2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_space {
  @include flexCenterX2();
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #0c1117;
  box-shadow: 0 0 20px black;
  overflow: hidden;
}

.headerText {
  position: absolute;
  font: {
    size: 4vw;
    weight: bold;
  }
  color: white;
  text-wrap: nowrap;
  text-shadow: 0 0 20px white;
  z-index: 1;
  animation: opacity 1s forwards linear;
}

@keyframes opacity {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.bar_space {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1vw;
}

.bar {
  width: 5px;
  height: 200px;
  background-color: gray;
  border-radius: 100px;
}

$duration: 3s;
$delay: 0.2s;
$step: 0.2s;

@for $i from 1 through 70 {
  .bar:nth-child(70n - #{$i}) {
    animation: wave
      $duration
      ($delay + ($step * ($i - 0.1)))
      ease-in-out
      infinite
      alternate
      both;
  }
}

@keyframes wave {
  0% {
    transform: scale(0.2);
    background-color: rgb(50, 50, 50);
  }
  100% {
    transform: scale(1);
    background-color: #999999;
  }
}
