@mixin flexCenterX2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_space {
  @include flexCenterX2();
  position: fixed;
  top: 5%;
  left: 30%;
  width: 50vw;
  height: 27vh;
  background-color: #0c1117;
  border-radius: 50px;
  box-shadow: 0 0 20px gray;
}

.greet {
  position: absolute;
  font: {
    size: 3vw;
    weight: bold;
  }
  color: white;
  text-shadow: 0 0 20px white;
  z-index: 1;
  animation: opacity 2s alternate infinite;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.bar_space {
  @include flexCenterX2();
  width: 48vw;
  gap: 10px;
  overflow: hidden;
}

.bar {
  width: 10px;
  height: 23vh;
  background-color: gray;
  border-radius: 50px;
}

$duration: 3s;
$delay: 0.2s;
$step: 0.2s;

@for $i from 1 through 40 {
  .bar:nth-child(40n - #{$i}) {
    animation: wave
      $duration
      ($delay + ($step * ($i - 1)))
      ease-in-out
      infinite
      alternate
      both;
  }
}

@keyframes wave {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
