// #161A30
// #31304D
// #B6BBC4
// #F0ECE5

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

body {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #636363;
  margin: 0;
}

* {
  color: white;
  text-decoration: none;
}
