@mixin flexCenterX2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_space {
  @include flexCenterX2();
  flex-direction: column;
  width: 100%;
  height: 300px;
  border: {
    bottom: 1px solid gray;
  }
}

.image_container {
  border-radius: 30px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px white;
  transition: 0.1s;
}

.image_container:hover {
  box-shadow: 0 0 10px white;
}

.img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.myName {
  font: {
    size: 20px;
    weight: bold;
  }
}

.description {
  @include flexCenterX2();
  width: 300px;
  text-align: center;
  font: {
    size: 12px;
  }
  color: gray !important;
}

.button_space {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #71716b;
  border-radius: 30px;
  margin-top: 30px;
}

.btnEach_space {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  @include flexCenterX2();
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font: {
    size: 25px;
  }
  color: white;
  cursor: pointer;
  transition: 0.3s;
  z-index: 0;
}

.icons::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
}

.icons:hover {
  color: orange;
}

.icons:hover::after {
  background-color: #4d4d49;
  transform: translate(-50%, -50%) scale(1);
}
