@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin flexCenterX2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_space {
  @include flexCenter();
  flex-direction: column;
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  background-color: #353535;
  z-index: 10;
}

.profile_space {
  @include flexCenterX2();
  flex-direction: column;
  width: 100%;
  height: 300px;
  border: {
    bottom: 1px solid white;
  }
}

.img {
  border-radius: 30px;
  width: 10vw;
  max-width: 130px;
  height: 10vw;
  max-height: 130px;
}

.myName {
  font: {
    size: 20px;
    weight: bold;
  }
}

.description {
  @include flexCenterX2();
  width: 200px;
  text-align: center;
  font: {
  }
  color: gray !important;
}
