@mixin flexCenterX2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_space {
  @include flexCenterX2();
  flex-direction: column;
  position: fixed;
  left: 10%;
  top: 5%;
  width: 15vw;
  min-width: 180px;
  height: 27vh;
  border-radius: 50px;
  background-color: #0c1117;
  box-shadow: 0 0 20px gray;
  overflow: hidden !important;
}

.img {
  border-radius: 30px;
  width: 10vw;
  max-width: 130px;
  height: 10vw;
  max-height: 130px;
}

.myName {
  font: {
    size: 20px;
    weight: bold;
  }
}

.description {
  @include flexCenterX2();
  width: 200px;
  text-align: center;
  font: {
  }
  color: gray !important;
}
